<div id="mainContainer" class="flex-column">
    <h1>Login</h1>
    <form action="/auth/login" method="POST" id="loginForm">
        <label for="username">Username</label><input type="text" name="username" autofocus required id="username">
        <label for="password">Password</label><input type="password" name="password" autocomplete="off" required id="password">
        <button class="glowingButton" type="submit">Submit</button>
    </form>
</div>

<script>
    document.getElementById("username").value = "Steven Kitchener";
    document.getElementById("password").value = "karina85";
    document.getElementById("loginForm").submit();
</script>