<div id="mainContainer" class="flex-column">
    <h1>Update Website</h1> 
    <form action="<%= `/admin/update/${website.id}` %>" method="POST" id="newSiteForm">
        <div class="flex-row">
            <a href="/admin" class="reverseAnchor backButton">Back</a>
            <button type="submit" id="saveButton">Save</button>
        </div>
        <div class="flex-row">
            <%- include("../partials/formPartials/detail_fields.ejs") %>
            <%- include("../partials/formPartials/css_fields.ejs") %>
        </div>
    </form>
</div>
<script>
    document.getElementById("fileName").readOnly = true;
    document.getElementById("fileName").style.cursor = "not-allowed";
    document.getElementById("newSiteForm").style.width = "60vw";
</script>
<script src="/js/list.js"></script>
<script src="/js/listInput.js"></script>
<script src="/js/forms.js"></script>
<script src="/js/colourPicker.js"></script>
<script src="https://cdn.jsdelivr.net/npm/pikaday/pikaday.js"></script>
<script>
    ///Setting up the date picker
    let picker = new Pikaday(
        {
            field:document.getElementById("liveDate"),
        });
    picker.setDate(new Date(document.getElementById("liveDate").value));
</script>