<div class="flex-row" id="adminHeader">
    <nav>
        <a href="/">Website</a>
        <a href="/admin">Admin</a>
        <a href="/admin/websitemodels">Website Models</a>
        <a href="/admin/features">Features</a>
    </nav>
</div>