<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="The Travelbook Groups Template website. Showcasing website designs for potential clients to view and use">
    <title>Portfolio <%= (typeof website != "undefined"?`| ${website.name}`:"") %></title>
    
    <link rel="icon" href="/images/siteIcon.png" sizes="16x16" type="image/png">
    <% if(typeof pikaday != "undefined"){%>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.css">
    <%}%>

    <link rel="stylesheet" href="/css/main.css">
    <% if(typeof css != "undefined") {%>
        <% if(typeof css === "string"){ %>
            <link rel="stylesheet" href="<%= `/css/${css}.css` %>">
        <%}else{%>
            <%css.forEach(item=>{%>
                <link rel="stylesheet" href="<%= `/css/${item}.css` %>">
            <%})%>
        <%}%>
    <%}%>
</head>
<body>
    <script>let reqs = [];</script>
    <%- body %>
    <script>
        setTimeout(()=>{
            let list = document.getElementsByClassName("error");
            for(let item of list){
                item.style.transform = "scaleY(0)";
            }
        },3500)
        window.onload = () =>{
            for(let req of reqs){
                req.send();
            }
        }
    </script>
</body>
</html>