:root{--mainColour:rgb(126, 46, 37);--secondaryColour:rgb(142, 62, 53);--primaryFont:'Italianno', sans-serif;--secondaryFont:'Lobster', sans-serif;}body::before{background-image:url(/images/sites/56d36f87949c8d0fae66ede31d3e041f);}
        #mainContainer h1::before{
            content: '';
            width: 65%;
            position: absolute;
            height: 60px;
            display: block;
            border-bottom: 2px solid var(--mainColour);
            border-radius: 50%;
            left: 35%;
            bottom:0.5vh;
            opacity:0.5;
        }
        
        #mainContainer h1::after{
            content: '';
            width: 65%;
            position: absolute;
            height: 60px;
            display: block;
            border-top: 2px solid var(--mainColour);
            border-radius: 50%;
            left: 0%;
            bottom:-3vh;
            opacity:0.5;
        }