<section class="flex-column">
    <img src="images/logo.png">
    <h1>Mobile Design</h1>
    <h2>Coming Soon</h2>
    <p>To see an active version of the portfolio please load it on a tablet or a desktop</p>
    <a href="https://travelbookgroup.com/" class="button">Visit the Travelbook Group website</a>
</section>