<div class="flex-row">
    <div class="flex-column">
    <div class="flex-column colourRow">
        <% for(let i = 0; i < 256/3; i++){%>
            <div class="flex-row">
            <% for(let j = 0; j < 256/3; j++){ %>
                    <span></span>
            <%}%>
            </div>
        <%}%>
    </div>
        <span class="colourCheck"></span>
    </div>
    <span class="colourDrop"></span>
</div>

<script src="/js/colourPicker.js"></script>