body{
    background-color: #000;
    overflow-y: auto;
}

header{
    width:100vw;
    padding:2rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo{
    position: absolute;
    top:1rem;
    left:1rem;
    cursor: pointer;
}

h1,h2{
    font-family: 'Oswald', sans-serif;
    color:#fff;
}

h1{
    font-size: 3.5em;
    margin-bottom: 1rem;
}

p{
    font-size: 1em;
    color:#ccc;
    max-width: 100ch;
    text-align: center;
    margin-bottom:0.5rem;
}

.card{
    position: relative;
    width:450px;
    margin:2rem 4rem;
    z-index: 1;
    text-align: right;
}

.card::before,
.card::after{
    content: '';
    position: absolute;
    border:1px solid #888;
}

.card::before{
    top:1rem;
    bottom:1rem;
    right:1.5rem;
}

.card::after{
    bottom:1.5rem;
    left:1rem;
    right:1rem;
}

.cardImg{
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    object-fit: cover;
    z-index: -1;
}

.cardBody{
    background: rgba(0,0,0,.7);
    color:white;
    padding:3rem;
    min-height: 250px;
}

.cardTitle{
    font-family: 'Oswald', sans-serif;
    font-size: 1.8rem;
    line-height: 1;
    margin-bottom: 1em;
    position: relative;
    z-index: 1;
    text-align: left;
    padding-right: 10px;
}

.cardTitle::before{
    content:'';
    position: absolute;
    background: var(--bannerColour);
    width:calc(100% + 5rem);
    z-index: -1;
    left:-5rem;
    top:-.2em;
    bottom:-.3em;
    box-shadow: inset -15px 0 10px -10px #0008;
}

.cardTitle::after{
    content: '';
    position: absolute;
    top:-.2em;
    bottom:-.3em;
    width: 2rem;
    background: var(--bannerColour);
    left:calc(100% + 3rem);
    box-shadow: inset 15px 0 10px -10px #0008;
}

.cardText{
    text-align: right;
    margin-bottom:1rem;
}

.cardLink{
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    color:white;
    font-size: 1.1em;
    position: absolute;
    bottom:2.2rem;
    right: 2.3rem;
}

.cardLink:hover{
    color: var(--bannerColour);
}

.cardText::after{
    content: '';
    position: absolute;
    top:-1px;
    left:-1px;
    bottom:-1px;
    right:-1px;
    border:1px solid var(--bannerColour);
    filter: brightness(0.45);
    z-index: -1;
}

.previewText{
    font-family: 'Oswald', sans-serif;
    color:#888;
    font-size: 1em;
    position: absolute;
    bottom:2.2rem;
    left:0.8rem;
}

#previewSection{
    position: absolute;
    top:-2rem;
    left:1rem;
    z-index: 90;
    width:250px;
    max-height: 250px;
    overflow:hidden;
    transform: scale(0);
    transition: transform 0.3s;
    transform-origin: bottom left;
}

#previewSection img{
    width: 100%;
}

@media only screen and (min-width:768px) and (max-width:1024px){
    .card{
        width:380px;
    }
    .cardBody{
        padding:2rem;
    }
    .cardTitle::after{
        left: calc(100% + 2rem);
    }
}