:root{
    --border-radius: 20px;
    --mainColour: white;
    --secondaryColour: #888;
    --primaryFont: 'Raleway', sans-serif;
    --secondaryFont: 'Raleway', sans-serif;
    --transitionTime: 0.3s;
}

*, *::before, *::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-weight: lighter;
    cursor: default;
}

a{
    cursor: pointer;
}

::selection{
    background-color: var(--mainColour);
    color:white;
}

#overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #121212ee;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    display: none;
}

body{
    width: 100vw;
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #232323;
    position: relative;
    font-family: 'Raleway', sans-serif;
}

body::before{
    content:'';
    position: absolute;
    width: 100%;
    height:100%;
    background-image: url("/images/aurora.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
    filter:blur(5px) brightness(0.5);
}

.flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
}

::-webkit-scrollbar{
    width: 0.3em;
  }

::-webkit-scrollbar-track {
    box-shadow: 0 0 2px #4441;
    background-color:#121212;
}
   
::-webkit-scrollbar-thumb{
    background-image: linear-gradient(105deg, var(--mainColour) 0%, var(--secondaryColour) 100%);
    border-radius: 8px;
}

#mainContainer{
    width: 80vw;
    height: 90vh;
    background-color: #000a;
    border-radius: var(--border-radius);
    position: relative;
    justify-content: flex-start;
    padding:1% 3%;
    overflow: hidden;
}

#leftColumn, #rightColumn{
    flex:1;
    margin:0 1vw;
    height: 100%;
    justify-content: flex-start;
    align-items: flex-start;
}

#leftColumn h1{
    color: var(--mainColour);
    font-family: var(--primaryFont);
    font-size: 5vw;
    position: relative;
    margin-bottom: 1vh;
}

#leftColumn a{
    color:var(--secondaryColour);
    font-family: var(--secondaryFont);
    text-decoration: none;
    font-size: 1.2vw;
    margin: 0 0 7vh 1vw;
    z-index: 2;
}

#leftColumn a:hover{
    color:var(--mainColour);
}

#leftColumn #groupString{
    color:white;
    font-size: 1.2vw;
    margin: 0 0 1vh 0vw;
    font-family: var(--primaryFont)
}

#leftColumn #pageContainer,
#leftColumn #featureContainer{
    margin:2vh 0;
    color: white;
    align-items: flex-start;
}
#pageContainer h3,
#featureContainer h3{
    font-size:1.2vw;
    margin-bottom:1vh;
}
#pageContainer #pageList,
#featureContainer #featureList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    width:100%;
    margin-left:1.5vw;
}

#pageList h4,
#featureList h4{
    font-size:0.8vw;
    padding:1vh 0.5vw;
}

#pageList h4:hover,
#featureList h4:hover{
    color:var(--mainColour);
}

#rightColumn #imageContainer{
    position: relative;
    width: 100%;
    height:50%;
    align-items: flex-start;
    margin-top: 1vh;
}

#imageContainer img{
    width: 100%;
}

#imageContainer #mobileTemplate,
#imageContainer #tabletTemplate,
#imageContainer #desktopTemplate{
    position: absolute;
    pointer-events: none;
}
#imageContainer #mobileTemplate{
    height: 60%;
}
#imageContainer #tabletTemplate{
    height: 55%;
}
#imageContainer #desktopTemplate{
    height: 100%;
}

#imageContainer .imageHolder{
    transition: var(--transitionTime);
    transform: scale(1) translate(0vw, 0vh);
}

#imageContainer #tabletHolder{
    width: 45%;
    height: 100%;
    position: absolute;
    top: 32vh;
    right: -2vw;
    z-index: 2;
}
#imageContainer #desktopHolder{
    width: 90%;
    height: 100%;
    position: absolute;
    z-index: 1;
}
#imageContainer #mobileHolder{
    width: 20%;
    height: 100%;
    position: absolute;
    top: 30vh;
    left: -1vw;
    z-index: 2;
}

#imageContainer .imageScroller{
    position: absolute;
    top: 1vh;
    overflow-y: auto;
}

#imageContainer #tabletHolder .imageScroller{
    width: 94%;
    left: 3%;
    height: 51%;
}

#imageContainer #desktopHolder .imageScroller{
    width: 80%;
    left: 10%;
    height: 76%;
}

#imageContainer #mobileHolder .imageScroller{
    width: 90%;
    left: 4.5%;
    height: 56%;
}

.imageScroller img{
    cursor: pointer;
}

#floatingText{
    position: fixed;
    top:4vh;
    left:50%;
    color: white;
    text-align: center;
    font-size: 0.7vw;
    transform: scale(0) translate(-50%, -10vh);
    transition: var(--transitionTime);
    transform-origin: 0% 50%;
    z-index: 20;
}

#floatingText a{
    text-decoration: none;
    color:var(--mainColour);
}


#floatingText a:hover{
    color:var(--secondaryColour);
}

#floatingText #dontShow{
    color:white;
    font-size: 0.5vw;
    cursor: pointer;
}

#floatingText #dontShow:hover{
    color:var(--secondaryColour);
}

#floatingButton{
    position: fixed;
    bottom:15vh;
    z-index: 91;
    transform: scale(0);
    transition: var(--transitionTime);
}

#floatingButton button{
    border-radius: 8px;
    padding:5px;
    min-width: 8vw;
    border:none;
    cursor: pointer;
}

#floatingButton button:hover{
    color:var(--mainColour);
}