@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Oswald&family=Raleway&display=swap');

:root{
    --border-radius: 20px;
    --mainColour: white;
    --secondaryColour: #888;
    --transitionTime: 0.3s;
}

*, *::before, *::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-weight: lighter;
    cursor: default;
}

a{
    cursor: pointer;
}

::selection{
    background-color: var(--mainColour);
    color:white;
}

body{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #232323;
    position: relative;
    font-family: 'Raleway', sans-serif;
    overflow-x:hidden;
}

.flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
}

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

::-webkit-scrollbar{
    width: 0.3em;
  }

::-webkit-scrollbar-track {
    box-shadow: 0 0 2px #4441;
    background-color:#121212;
}
   
::-webkit-scrollbar-thumb{
    background-image: linear-gradient(105deg, var(--mainColour) 0%, var(--secondaryColour) 100%);
    border-radius: 8px;
}

#adminHeader{
    background-image: linear-gradient(105deg, #121212 0%, #030303 100%);
    min-height: 6vh;
    position: sticky;
    top:0;
    box-shadow: inset 3px 0px 12px #232323;
    z-index: 99;
    align-items: center;
    justify-content: flex-end;
    padding: 0.5vh 3vw 1vh;
    width:100vw;
}

#adminHeader a{
    background-color: transparent;
    color:#ff5858;
    text-decoration: none;
    margin: 0 0.2vw;
    font-size: 0.8em;
    padding: 8px;
}

#adminHeader a:hover{
    color:#f09819;
    filter: unset;
}

.raisedDiv{
    padding:2%;
    margin:1vh 1vw;
    border-radius: 8px;
    background: linear-gradient(145deg, #1c1d21aa, #17181c33);
    box-shadow:  3px 3px 6px #101114, 
                 -3px -3px 6px #24252a;
    min-height:38vh;
    justify-content: flex-start;
    scrollbar-color: var(--mainColour) var(--altBGColour);
    scrollbar-width: thin;

}

.centeredColumn{
    max-height:60vh;
    justify-content: flex-start;
    overflow-y: auto;
    overflow-x: hidden;
    width:33%;
    margin:2vh 0;
    padding:1% 2%;
}