body::before{
    content:'';
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    background-image: url("/images/aurora.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
    filter:blur(5px) brightness(0.25);
}

header{
    position: sticky;
    top:0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width:100vw;
}

header a{
    font-size: 1em;
    padding:1rem;
    color:#ccc;
}

header a:hover{
    color:white;
}

p{
    color:#ccc;
    font-size: 0.9em;
}

#mainContainer{
    width: 80vw;
    background-color: transparent;
    border-radius: var(--border-radius);
    position: relative;
    justify-content: flex-start;
    padding:0 3rem 1rem;
    margin-top: -3rem;
    overflow: hidden;
}

h1{
    color: var(--mainColour);
    font-family: 'Italianno', cursive;
    font-size: 5em;
    position: relative;
}

a,#learnMoreButton{
    color:var(--secondaryColour);
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    font-size: 1.5em;
    z-index: 2;
    cursor: pointer;
}

#learnMoreButton{
    font-size: 1em;
    color:#ccc;
}

a:hover,#learnMoreButton:hover{
    color:var(--mainColour);
}


#prevTemplate, #nextTemplate{
    position: absolute;
    top:40vh;
    font-family: var(--defaultFont);
    color:white;
    font-size: 0.7em;
    cursor:pointer;
}
#prevTemplate{
    left:0.3vw;
}
#nextTemplate{
    right: 0.3vw;
}

#nextTemplate img, #prevTemplate img{
    cursor: pointer;
}

#prevTemplate img{
    transform: rotate(180deg);
}

#nextTemplate h3, #prevTemplate h3{
    cursor: pointer;
    color:#ccc;
}

#nextTemplate:hover h3, #prevTemplate:hover h3{
    color:white;
}

.pagination{
    cursor: pointer;
    align-items: center;
}

#imageContainer{
    position: relative;
    width: 55vw;
    min-height: 35vw;
    align-items: flex-start;
    margin: 1rem 0 2rem;
}

#imageContainer::before{
    content: '';
    position: absolute;
    width: 70%;
    height: 50px;
    background-color: #000;
    top: 95%;
    border-radius: 50%;
    filter: blur(10px) opacity(0.4);
}

#imageContainer img{
    width: 100%;
}

#imageContainer #mobileTemplate,
#imageContainer #tabletTemplate,
#imageContainer #desktopTemplate{
    position: absolute;
    pointer-events: none;
}
#imageContainer #mobileTemplate{
    height: 60%;
}
#imageContainer #tabletTemplate{
    height: 55%;
}
#imageContainer #desktopTemplate{
    height: 100%;
}

#imageContainer .imageHolder{
    transition: var(--transitionTime);
    transform: scale(1) translate(0vw, 0vh);
}

#imageContainer #tabletHolder{
    width: 45%;
    height: 85%;
    position: absolute;
    top: 40vh;
    right: -8vw;
    z-index: 2;
}
#imageContainer #desktopHolder{
    width: 90%;
    height: 100%;
    position: absolute;
    z-index: 1;
}
#imageContainer #mobileHolder{
    width: 20%;
    height: 100%;
    position: absolute;
    top: 30vh;
    left: -3vw;
    z-index: 2;
}

#imageContainer .imageScroller{
    position: absolute;
    top: 4.2vh;
    overflow-y: auto;
}

#imageContainer #tabletHolder .imageScroller{
    top:2%;
    width: 93.6%;
    left: 3%;
    height: 51.5%;
}

#imageContainer #desktopHolder .imageScroller{
    width: 91.15%;
    left: 4.4%;
    height: 68%;
}

#imageContainer #mobileHolder .imageScroller{
    top: 7.3%;
    width: 87%;
    left: 6.6%;
    height: 45.8%;
}

#infoContainer{
    width:60vw;
    transition: transform 0.3s;
    transform-origin: top;
    transform: scaleY(0);
    display: none;
}

#groupString{
    color:white;
    font-size: 1.3em;
    margin-bottom: 0.5rem;
}

#liveDate{
    color:white;
    font-size: 0.8em;
    margin: 0 0 1vh 0vw;
}

#pageContainer,
#featureContainer{
    margin:0.5rem 0;
    color: white;
    align-items: center;
    width: 100%;
    z-index: 5;
}
#pageContainer h3,
#featureContainer h3{
    font-family: 'Oswald', sans-serif;
    font-size:2em;
    color:var(--mainColour);
}

#featureContainer #infoString{
    font-family: 'Oswald', sans-serif;
    font-size: 0.8em;
    color:#ccc;
}

#pageContainer #pageList,
#featureContainer #featureList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width:100%;
}

#pageList p,
#featureList p{
    font-size:1em;
    padding:0.5rem 0.4rem;
    color:white;
}

#featureList p:hover{
    color:var(--mainColour);
}

#disclaimer{
    color:white;
    font-size: 0.8em;
    margin: 1.5rem 0;
}

#footer{
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 1rem;
}

#footer p{
    color: white;
    font-size: 0.8em;
}

#footer a{
    font-size: 1.5em;
}

#offScreenRight{
    position: fixed;
    top:0vh;
    left:100vw;
    width:25vw;
    height:100vh;
    transition: 0.3s;
    background: linear-gradient(145deg, #1c1d21ff, #17181cee);
    z-index: 99;
    overflow-y: auto;
    overflow-x: hidden;
    align-items: flex-start;
    justify-content: flex-start;
    padding:2rem 2rem 1rem 1.5rem;
    margin:0;
}

#offScreenRight #closeSidebar{
    position: fixed;
    top:0.5rem;
    right: 1.5rem;
    background-color: #0008;
    font-size: 1em;
    border: none;
    cursor: pointer;
    filter: hue-rotate(140deg);
    border-radius: 50%;
    box-shadow: 0px 0px 5px #fff4 inset;
    padding:0.5rem;
    transform: scale(0) rotate(-360deg);
    transition:0.5s;
    z-index:90;
}

#offScreenRight h2{
    color:white;
    font-size: 2em;
    margin-bottom:3vh;
}

#offScreenRight .flex-column{
    display:block;
    margin-bottom: 2vh;
}

#offScreenRight h3{
    font-family: 'Oswald', sans-serif;
    color:#c1c1c1;
    margin-bottom: 0.7vh;
    position: relative;
}

#offScreenRight h3::after{
    content:'';
    position: absolute;
    bottom:-5%;
    left:0;
    width:3vw;
    height:1px;
    background-color: #c1c1c1;
}

#offScreenRight p{
    color:#fff;
    font-size: 0.8em;
    margin-bottom:0.5rem;
    text-align: left;
}

#offScreenRight .internalLink{
    font-size: 1.2em;
    color:#37d4fc;
    font-family: 'Raleway', sans-serif;
}

#offScreenRight .internalLink:hover{
    color: #7ae4ff;
}

.feature{
    cursor: pointer;
}

#stars{
    margin-bottom: 0.5rem;
}

#stars span{
    font-size: 1.5em;
}

@media only screen and (min-width:768px) and (max-width:1024px){
    #imageContainer{
        width: 70vw;
        min-height: 45vw;
    }
    #offScreenRight{
        width:40vw;
    }
    #nextTemplate h3, #prevTemplate h3 {
        max-width:120px;
    }
    p{
        font-size: 1rem;
        text-align: center;
    }
    #imageContainer #mobileHolder .imageScroller {
        top:4.4vh;
    }
    #imageContainer #tabletHolder {
        right:-5vw;
    }
}