<div class="flex-column absColumn">
    <div class="flex-row">
        <div class="flex-column"><h3>Primary Colour</h3><%- include ("../colour_picker_elements")%></div>
        <div class="flex-column"><h3>Secondary Colour</h3><%- include ("../colour_picker_elements")%></div>
    </div>
</div>