<div class="flex-row">
    <a href="/admin" class="reverseAnchor backButton">Back</a>
    <button type="submit" id="saveButton">Save</button>
</div>
<div class="flex-row">
    <%- include("./image_fields.ejs") %>
    <%- include("./detail_fields.ejs") %>
    <%- include("./css_fields.ejs") %>
</div>